<app-navbar></app-navbar>
<div class="checkout row justify-content-center">
    <div class="col-md-11">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
        </div>
        <table class="table table-striped text-center bg-white table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Date & Time</th>
                    <th>Delivery Fee</th>
                    <th>Grand Total
                        <i *ngIf="!icon" class="fas fa-sort-up pointer"></i>
                        <i *ngIf="icon == true" class="fas fa-sort-down pointer"></i>
                    </th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1234567890</td>
                    <td>John Doe</td>
                    <td>Sammy Doe</td>
                    <td>Mar 24, 2020 at 10:20 AM</td>
                    <td>$23</td>
                    <td>$58</td>
                    <td><button class="btn btn-primary" routerLink="/orderDetail">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>