<app-navbar></app-navbar>


<div class="mainContent">
    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Pending (0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Accepted (0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Shipped (0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Delivered (0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Cancelled (0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu5">Missing (0)</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane mx-5 my-5  active" id="home">
            <h2 class="text-center my-4">Pending Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>

            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane mx-5 my-5   fade" id="menu1">
            <h2 class="text-center my-4">Accepted Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane mx-5 my-5   fade" id="menu2">
            <h2 class="text-center my-4">Shipped Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane mx-5 my-5   fade" id="menu3">
            <h2 class="text-center my-4">Delivered Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tab-pane mx-5 my-5  " id="menu4">
            <h2 class="text-center my-4">Cancelled Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane mx-5 my-5  " id="menu5">
            <h2 class="text-center my-4">Missing Orders</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
            </div>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Buyer</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Product Qty</th>
                        <th class="text-center">Delivery Fee</th>
                        <th class="text-center">Grand Total
                            <i *ngIf="!icon" (click)="icon=!icon" class="fas fa-sort-up pointer"></i>
                            <i *ngIf="icon == true" (click)="icon=!icon" class="fas fa-sort-down pointer"></i>
                        </th>
                        <th class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center top-padding">12345678</td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">Darren
                                Sammy</button></td>
                        <td class="text-center"><button class="btn btn-link" routerLink="/userDetail">John Doe</button>
                        </td>
                        <td class="text-center top-padding">March 26, 2019</td>
                        <td class="text-center top-padding">19</td>
                        <td class="text-center top-padding">1500</td>
                        <td class="text-center top-padding">26900</td>
                        <td class="text-center"><button class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>