<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-5 pt-5 ">
        <table>
            <tr class="text-center">
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            <tr class="text-center">
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
            </tr>
        </table>
    </div>
</div>