<app-navbar></app-navbar>
<div class="mx-5 my-5">
    <div class="row mt-5 pt-5 ">

        <h4><i class="fa fa-users"></i> All Users (allUsers.length)</h4>
        <div class="input-group mb-3 ml-auto w-50">
            <input [(ngModel)]="searchTxt" type="text" class="form-control " placeholder="Search here...">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        <table class="table table-bordered table-hover bg-white">
            <tr class="text-center">
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>City</th>
                <th>Country</th>
                <th class="text-center">Actions</th>
            </tr>

            <tr *ngFor="let user of allUsers | paginate: { itemsPerPage: 7, currentPage: p } | search: searchTxt; index as i"
                class="text-center">
                <td>{{i+1}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.city}}</td>
                <td>{{user.country}}</td>
                <td class="text-center">
                    <i class="fa fa-eye text-primary mx-2" (click)="seeProfile(user)" aria-hidden="true"></i>
                    <i class="fa fa-ban text-danger mx-2" aria-hidden="true"> </i>
                    <i class="fa fa-unlock text-success mx-2" aria-hidden="true"></i>
                </td>
            </tr>
        </table>

        <div class="w-100">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</div>