<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-5 pt-5 ">
        <table>
            <tr class="text-center">
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>City</th>
                <th>Country</th>
                <th class="text-center">Actions</th>
            </tr>
            <tr class="text-center">
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>1234567890</td>
                <td>Paris</td>
                <td>France</td>
                <td class="text-center">
                    <button class="btn btn-primary mx-2">Detail</button>
                    <button class="btn btn-danger mx-2">Block</button>
                    <button class="btn btn-success mx-2">Unblock</button>
                </td>
            </tr>
            <tr class="text-center">
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>1234567890</td>
                <td>Paris</td>
                <td>France</td>
                <td class="text-center">
                    <button class="btn btn-primary mx-2">Detail</button>
                    <button class="btn btn-danger mx-2">Block</button>
                    <button class="btn btn-success mx-2">Unblock</button>
                </td>
            </tr>
            <tr class="text-center">
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>1234567890</td>
                <td>Paris</td>
                <td>France</td>
                <td class="text-center">
                    <button class="btn btn-primary mx-2">Detail</button>
                    <button class="btn btn-danger mx-2">Block</button>
                    <button class="btn btn-success mx-2">Unblock</button>
                </td>
            </tr>
        </table>
    </div>
</div>