
.card-text {
  position: absolute !important;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  margin: 0 15px 15px 15px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}
.dash-name{
  display: inline !important;
}
.dash-card{
  height:420px;
  background: whitesmoke;
.dash-text{
  margin-top: 20px;
  margin-left: 15px;
  

}
}
.twoside {
  position: absolute !important;
  margin-right: 10px;
}

.sid {
  margin-right: 15px;
}

.card-deck {
  margin-top: 120px;
}

.text-show {
  margin-top: 40px;
  font-size: xx-large;
}
.icon {
  font-size: -webkit-xxx-large;
  margin-top: 15px;
}

.uniqueItem {
  background: linear-gradient(45deg, #ffc3c3, #ff9f9f);
}
.uniqueItem1 {
  background: linear-gradient(45deg, #c3ffe8, #91ffd5);
}

.uniqueItem2 {
  background: linear-gradient(45deg, #bfe0ff, #82c2ff);
}
.uniqueItem3 {
  background: linear-gradient(45deg, #dfc3ff, #c796ff);
}
