<app-navbar></app-navbar>
<div class="card-deck mx-3 mb-5">
    <div class="card " id="grad4">
        <div class="card-body ">
            <p class="card-text"><b>Users</b></p><span class="float-right"><i class="fa fa-group icon"></i></span>
            <p class="text-show">4565</p>
        </div>
    </div>
    <div class="card " id="grad2">
        <div class="card-body ">
            <p class="card-text"><b>Products</b></p><span class="float-right"><i
                    class="fa fa-shopping-bag icon"></i></span>
            <p class="text-show">3200</p>
        </div>
    </div>
    <div class="card " id="grad3">
        <div class="card-body ">
            <p class="card-text"><b>Categories</b></p><span class="float-right"><i class="fa fa-truck icon"></i></span>
            <p class="text-show">5800</p>
        </div>
    </div>
    <div class="card " id="grad1">
        <div class="card-body ">
            <p class="card-text"><b>Reviews</b></p><span class="float-right"><i class="fa fa-suitcase icon"></i></span>
            <p class="text-show">6800</p>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6 twoside  ">
        <div class="card sid ">
            <div class="card-body ">
                <p class="card-text"><b>Summary</b></p>

            </div>
        </div>
    </div>
    <div class="col-md-6 float-right">
        <div class="card ">
            <div class="card-body ">
                <p class="card-text"><b>Top Selling Products</b></p>
            </div>
        </div>
    </div>
</div>