<app-navbar></app-navbar>

<div class="row mt-5 p-5">
    <h2 class="col-md-8">Dashboard</h2>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control">
                <option>Overall</option>
                <option>Last 7 days</option>
                <option>Last 15 days</option>
                <option>Last 30 days</option>
                <option>Last 3 months</option>
                <option>Last 6 months</option>
                <option>Last year</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div routerLink="/allUsers" class="shadow uniqueItem rounded card-body">
            <p class="card-text mb-0"><b>Users</b></p><span class="float-right"><i class="fa fa-group icon"></i></span>
            <p class="text-show mb-0 mt-4">{{allUsers.length}}</p>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div (click)="showAllProducts()" class="shadow uniqueItem1 rounded card-body">
            <p class="card-text mb-0"><b>Products</b></p><span class="float-right"><i
                    class="fa fa-shopping-bag icon"></i></span>
            <p class="text-show mb-0 mt-4">{{allProducts.length}}</p>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div routerLink="/allCategories" class="shadow uniqueItem2 rounded card-body">
            <p class="card-text mb-0"><b>Categories</b></p><span class="float-right"><i
                    class="fa fa-truck icon"></i></span>
            <p class="text-show mb-0 mt-4">{{allCategorys.length}}</p>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div routerLink="/reviews" class="shadow uniqueItem3 rounded card-body">
            <p class="card-text mb-0"><b>Reviews</b></p><span class="float-right"><i class="fa fa-star icon"></i></span>
            <p class="text-show mb-0 mt-4">{{allReviews.length}}</p>
        </div>
    </div>


    <div class="col-md-6 mt-5 ">
        <div class="card">
            <div class="dash-card rounded bg-white">
                <p class="dash-text"><b>Top Buyers</b></p>
                <hr>

                <div *ngFor="let seller of topBuyers; index as i">
                    <div (click)="buyerdetail(seller)" class="row pointer borderBottom" *ngIf="i<3">
                        <div class="col-md-3">
                            <img [src]="seller.profileUrl" class="buyer-avatar">
                        </div>
                        <div class="col-md-9 pt-2">
                            <h5>{{seller.userName}}</h5>
                            <p class="mb-2 text-primary">{{seller.email}}</p>
                            <p class="mb-1 text-success">Total Orders: {{seller.totalOrders}} - Worth
                                (${{seller.totalBill}})</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 float-right mt-5">
        <div class="card">
            <div class="dash-card bg-white">
                <p class="dash-text"><b>Top Selling Products</b></p>
                <hr>
                <div *ngFor="let prod of topProducts; index as i">
                    <div (click)="productDetail(prod)" class="row pointer borderBottom" *ngIf="i<3">
                        <div class="col-md-3">
                            <img [src]="prod.profileUrl" class="buyer-avatar">
                        </div>
                        <div class="col-md-9 pt-2">
                            <h5>{{prod.productName}}</h5>
                            <p class="originalPrice gray mb-1">
                                <del>${{prod.originalPrice}}</del> {{getDiscount(prod)| number : '1.2-2'}}% =>
                                <span class="text-success bold">${{prod.discountedPrice}}</span>
                            </p>
                            <p class="rating">
                                <i class="fa fa-star" [class.text-warning]="prod.avgRating>=1"
                                    [class.gray]="!prod.avgRating"></i>
                                <i class="fa fa-star" [class.text-warning]="prod.avgRating>=2"
                                    [class.gray]="!prod.avgRating || prod.avgRating<2"></i>
                                <i class="fa fa-star" [class.text-warning]="prod.avgRating>=3"
                                    [class.gray]="!prod.avgRating || prod.avgRating<3"></i>
                                <i class="fa fa-star" [class.text-warning]="prod.avgRating>=4"
                                    [class.gray]="!prod.avgRating || prod.avgRating<4"></i>
                                <i class="fa fa-star" [class.text-warning]="prod.avgRating>=5"
                                    [class.gray]="!prod.avgRating || prod.avgRating<5"></i> ({{prod.totalReview || 0}})
                                <span class="float-right">
                                    <i class="fa fa-user"></i> {{prod.userName}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- ----------------------------------------- -->

<div *ngIf="service.loading" class="spinnerContent">
    <div class="spinner-border text-muted"></div>
</div>