<app-navbar></app-navbar>

<div class="row mt-5 p-5">
    <div class="col-md-3 mt-5">
        <div class="shadow uniqueItem rounded card-body">
            <p class="card-text mb-0"><b>Users</b></p><span class="float-right"><i class="fa fa-group icon"></i></span>
            <p class="text-show mb-0 mt-4">4565</p>
        </div>
    </div>
    <div class="col-md-3 mt-5">
        <div class="shadow uniqueItem1 rounded card-body">
            <p class="card-text mb-0"><b>Products</b></p><span class="float-right"><i
                    class="fa fa-shopping-bag icon"></i></span>
            <p class="text-show mb-0 mt-4">4565</p>
        </div>
    </div>
    <div class="col-md-3 mt-5">
        <div class="shadow uniqueItem2 rounded card-body">
            <p class="card-text mb-0"><b>Categories</b></p><span class="float-right"><i
                    class="fa fa-truck icon"></i></span>
            <p class="text-show mb-0 mt-4">4565</p>
        </div>
    </div>
    <div class="col-md-3 mt-5">
        <div class="shadow uniqueItem3 rounded card-body">
            <p class="card-text mb-0"><b>Reviews</b></p><span class="float-right"><i
                    class="fa fa-suitcase icon"></i></span>
            <p class="text-show mb-0 mt-4">4565</p>
        </div>
    </div>



    <div class="col-md-6 mt-5 ">
        <div class="card">
            <div class="card-body ">
                <p class="card-text"><b>Summary</b></p>

            </div>
        </div>
    </div>
    <div class="col-md-6 float-right mt-5">
        <div class="card">
            <div class="card-body ">
                <p class="card-text"><b>Top Selling Products</b></p>
            </div>
        </div>
    </div>

</div>