<app-navbar></app-navbar>
<div class="mainContent">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="productCard">
                <div>
                    <img [src]="user.profileUrl || null">
                    <p class="prodTitle bg-lg m-2 ">{{user.firstName}} {{user.lastName}}</p>
                    <p class="prodTitle bg-lg m-2 ">{{user.email}}</p>
                    <p class="prodTitle bg-lg m-2  ">{{user.contact}}</p>
                    <p class="prodTitle bg-lg m-2" (click)="userOrders()">Orders</p>
                    <p class="prodTitle bg-lg m-2 ">Messages</p>
                    <p class="prodTitle bg-lg m-2" (click)="userProducts()">Products</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>