<app-navbar></app-navbar>
<div class="mainContent">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="productCard">
                <div>
                    <img src="/assets/user.jpg">
                    <p class="prodTitle bg-lg m-2 ">Darren Sammy</p>
                    <p class="prodTitle bg-lg m-2 ">Email</p>
                    <p class="prodTitle bg-lg m-2  ">Contact</p>
                    <p class="prodTitle bg-lg m-2 ">Orders</p>
                    <p class="prodTitle bg-lg m-2 ">Messages</p>
                    <p class="prodTitle bg-lg m-2 ">Products</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>