<app-navbar></app-navbar>
<div class="mainContent">
    <div class="row">
        <div class="col-md-3">
            <div routerLink="/productDetail" class="productCard">
                <div>
                    <img src="/assets/user.jpg">
                    <p class="prodTitle bg-lg mb-2">Darren Sammy</p>
                    <h4 class="prodPrice primary mt-0">Orders 25</h4>
                    <p class="originalPrice gray mb-1">
                        Messages 35</p>

                </div>
            </div>
        </div>
    </div>
</div>