.productsBlock {
    .productCard {
      img {
        height: 150px;
      }
      .prodTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  .one-line{
    display: inline;
  }

  div {

   
   
    input[type="file"] {
      display: none;
    }
  }
  .modal-margin{
    margin: 20px;
  }

  .modal-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }