<app-navbar></app-navbar>

<div class="mainContent productsBlock">
    <div>
        <h4 class="one-line">All Categories</h4>
        <button class="float-right btn btn-primary" data-toggle="modal" data-target="#emptycart">Add Category</button>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/antiques.jpg">
                    <p class="prodTitle mb-0">Antiques
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>

        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/appliances.png">
                    <p class="prodTitle mb-0">Appliances
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>

        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/auto.jpg">
                    <p class="prodTitle mb-0">Auto
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>

        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/babyfood.jpg">
                    <p class="prodTitle mb-0">Baby Food
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>

        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/cloths.jpg">
                    <p class="prodTitle mb-0">Cloths
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>

        <div class="col-md-2 ">
            <div class="productCard">
                <div routerLink="/allProducts">
                    <img class="mb-1" src="/assets/imgs/furniture.jpg">
                    <p class="prodTitle mb-0">Furniture
                    </p>
                    <p class="prodTitle mb-0">Products 45</p>
                </div>
                <button (click)="enabled=!enabled" *ngIf="enabled" class="btn btn-success w-100 mt-2">Enable</button>
                <button (click)="enabled=!enabled" *ngIf="!enabled" class="btn btn-danger w-100 mt-2">Disable</button>
            </div>
        </div>



    </div>
</div>


<!-- ____________________________________________________________________________ -->
<div class="modal" id="emptycart">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to add Category?</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-margin">
                <div class="col-md-12 ">

                    <div class="text-center">
                        <img class="modal-image mb-3" [src]="category.profileUrl || '/assets/user.jpg'">
                        <label class="btn btn-info w-100 mb-3 pointer"> Upload Picture
                            <input type="file" (change)="onChangeFile($event)">
                        </label>
                    </div>

                    <!-- FirstName -->
                    <div class="form-group">
                        <label>Category:</label>
                        <span><input [(ngModel)]="category.Name" class="form-control "></span>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            Add Category
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>